In [11]:
import pandas as pd
#Getting field of study id's for medicine, humanities, engineering, psychology, physics.

df = pd.read_csv("field_of_study.csv")
#medicine
medicine_FOS_id = df[df["NormalizedName"] == "medicine"]["FieldOfStudyId"].values
print("medicine_FOS_id=",medicine_FOS_id)
#humanities
humanities_FOS_id = df[df["NormalizedName"] == "humanities"]["FieldOfStudyId"].values
print("humanities_FOS_id=",humanities_FOS_id)
#engineering
engineering_FOS_id = df[df["NormalizedName"] == "engineering"]["FieldOfStudyId"].values
print("engineering_FOS_id",engineering_FOS_id)
#psychology
psychology_FOS_id = df[df["NormalizedName"] == "psychology"]["FieldOfStudyId"].values
print("psychology_FOS_id",psychology_FOS_id)
#physics
physics_FOS_id = df[df["NormalizedName"] == "physics"]["FieldOfStudyId"].values
print("physics_FOS_id",physics_FOS_id)

medicine_FOS_id= [71924100]
humanities_FOS_id= [15708023]
engineering_FOS_id [127413603]
psychology_FOS_id [15744967]
physics_FOS_id [121332964]

In [10]:
df.columns = ['Year', 'FieldOfStudyId', 'Gender', 'Authorships', 'DistinctPapers', 'Gender_String']
df.to_csv("AuthorshipsPerYearFieldAndGender.csv", index=False)

In [8]:
df_2 = pd.read_csv("Affiliations.txt", sep="\t")
df_2.head()

,20455151,9983,air liquide,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/http://airliquide.com/en/home.html,http://en.wikipedia.org/wiki/Air_Liquide,7855,5757,63553,GB,52.5035934,-1.80516,2016-06-24
0,24386293,13922,hellenic national meteorological service,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,http://en.wikipedia.org/wiki/Hellenic_National...,87,87,2363,GR,37.97614,23.736400,2016-06-24
1,32956416,12976,catholic university of the west,Catholic University of the West,grid.448708.7,http://www.uco.fr/,http://en.wikipedia.org/wiki/Catholic_Universi...,402,394,4860,FR,47.46472,-0.548610,2016-06-24
2,35926432,11277,mackay medical college,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,http://en.wikipedia.org/wiki/Mackay_Medical_Co...,2200,2194,28443,TW,25.25436,121.495087,2016-06-24
3,37448385,11916,chinese people s public security university,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,http://en.wikipedia.org/wiki/People's_Public_S...,1891,1884,3359,CN,39.90469,116.407173,2016-06-24
4,37712293,13042,madeira interactive technologies institute,Madeira Interactive Technologies Institute,NaN,http://www.m-iti.org/,http://en.wikipedia.org/wiki/Madeira_Interacti...,449,438,4012,PT,32.65889,-16.924440,2016-06-24

In [7]:
df_3 = pd.read_csv("AuthorshipsPerYear.csv")
df_3.head()

   year(Date)  FieldOfStudyId  AllAuthorships  WosAuthorships
0      2019.0        41008148         6073924         1002035
1      2009.0       162324750          202970           94099
2      2020.0       142362112          317896           26799
3      1986.0       144133560           33036           14134
4      2021.0       144133560           43283           12424

In [1]:
import pandas as pd
df_4 = pd.read_csv("PaperFieldsOfStudy.csv", nrows=2)
df_4.head()

FileNotFoundError: [Errno 2] No such file or directory: 'PaperFieldsOfStudy.csv'

In [1]:
import pandas as pd
df_FOS = pd.read_csv("Papers_with_header.txt", sep="\t", nrows=5)
df_FOS.head()

,PaperId,Rank,Doi,DocType,PaperTitle,OriginalTitle,BookTitle,Year,Date,OnlineDate,...,Issue,FirstPage,LastPage,ReferenceCount,CitationCount,EstimatedCitation,OriginalVenue,FamilyId,FamilyRank,CreatedDate
248996,24821,NaN,Patent,synthesis of acrylamide from acrylonitrile,Synthesis of acrylamide from acrylonitrile,NaN,1972,1972-06-05,NaN,NaN,...,NaN,NaN,0,4,4,NaN,NaN,NaN,NaN,2016-06-24
2906390199,25581,NaN,NaN,the impact of different organizational forms o...,The impact of different organizational forms o...,NaN,2004,2004-01-01,NaN,WCTRS,...,NaN,NaN,0,0,0,10th World Conference on Transport Research (W...,760496.0,22811.0,NaN,2019-01-01
760496,22876,NaN,NaN,the impact of different organizational forms o...,The Impact of Different Organizational Forms o...,NaN,2004,2004-01-01,NaN,WCTRS,...,NaN,NaN,0,2,2,10th World Conference on Transport ResearchWor...,760496.0,22811.0,NaN,2016-06-24
1727602,26908,NaN,Patent,verfahren zur herstellung von pvc hart folien,Verfahren zur Herstellung von PVC-hart-Folien.,NaN,1989,1989-12-14,NaN,NaN,...,NaN,NaN,0,0,0,NaN,1727602.0,22797.0,NaN,2016-06-24
2401921836,22814,NaN,Patent,process for the production of rigid pvc foils,Process for the production of rigid PVC foils,NaN,1989,1989-06-05,NaN,NaN,...,NaN,NaN,3,7,7,NaN,1727602.0,22797.0,NaN,2016-06-24

In [ ]:
'PaperId:long', 'Rank:uint', 'Doi:string', 'DocType:string', 'PaperTitle:string', 'OriginalTitle:string', 'BookTitle:string', 'Year:int?', 'Date:DateTime?', 'OnlineDate:DateTime?', 'Publisher:string', 'JournalId:long?', 'ConferenceSeriesId:long?', 'ConferenceInstanceId:long?', 'Volume:string', 'Issue:string', 'FirstPage:string', 'LastPage:string', 'ReferenceCount:long', 'CitationCount:long', 'EstimatedCitation:long', 'OriginalVenue:string', 'FamilyId:long?', 'FamilyRank:uint?', 'CreatedDate:DateTime']),

In [22]:
unique_fields = df_FOS.iloc[:, 2].unique()
print(f"\nTotal unique fields: {len(unique_fields)}")

Total unique fields: 711576

In [18]:
#Help choosing which fields to focus on.

import pandas as pd
df_fields_of_study = pd.read_csv("field_of_study.csv")
df_fields_of_study.head()

unique_fields_of_study = df_fields_of_study.loc[:,"DisplayName"].unique()
print(f"\nTotal unique fields: {len(unique_fields_of_study)}")

top_20_fields = df_fields_of_study[['DisplayName', 'PaperCount']].sort_values(
    by='PaperCount', ascending=False).head(20)
print(top_20_fields)

Total unique fields: 739702
                DisplayName  PaperCount
2                  Medicine    30095462
4         Materials science    29452793
0          Computer science    24957786
8                 Chemistry    19436108
5               Engineering    14586155
12                  Biology    14363563
66               Humanities    13013948
1                   Physics    10806045
14                      Art     8810482
11               Psychology     8598672
6         Political science     8352680
41       Composite material     8343293
225  Mechanical engineering     8328466
145       Internal medicine     8220374
15              Mathematics     6814413
9                   Geology     6540838
7     Environmental science     6105516
13                Geography     5617382
17                 Business     5366823
209  Structural engineering     4842884

In [16]:
df_fields_of_study.head(20)

,FieldOfStudyId,Rank,NormalizedName,DisplayName,MainType,Level,PaperCount,PaperFamilyCount,CitationCount,CreatedDate
0,41008148,4284,computer science,Computer science,NaN,0,24957786,23841455,139781842,2016-06-24
1,121332964,5071,physics,Physics,NaN,0,10806045,10260657,83331738,2016-06-24
2,71924100,4083,medicine,Medicine,business.industry,0,30095462,29879330,293207012,2016-06-24
3,144024400,6054,sociology,Sociology,NaN,0,4646947,4640030,28286908,2016-06-24
4,192562407,4130,materials science,Materials science,NaN,0,29452793,27962216,160761085,2016-06-24
5,127413603,4719,engineering,Engineering,business.industry,0,14586155,14125633,87877180,2016-06-24
6,17744445,5803,political science,Political science,NaN,0,8352680,8338262,21449640,2016-06-24
7,39432304,5830,environmental science,Environmental science,NaN,0,6105516,6037819,34689044,2016-06-24
8,185592680,4331,chemistry,Chemistry,NaN,0,19436108,18383417,228423331,2016-06-24
9,127313418,5790,geology,Geology,NaN,0,6540838,6449923,36208044,2016-06-24
10,95457728,6707,history,History,NaN,0,3440673,3438423,6956363,2016-06-24
11,15744967,5158,psychology,Psychology,NaN,0,8598672,8575379,109170088,2016-06-24
12,86803240,4390,biology,Biology,NaN,0,14363563,14243075,322000363,2016-06-24
13,205649164,6118,geography,Geography,NaN,0,5617382,5603003,20649719,2016-06-24
14,142362112,5973,art,Art,media_common.quotation_subject,0,8810482,8780829,6153189,2016-06-24
15,33923547,5145,mathematics,Mathematics,NaN,0,6814413,6549459,78345500,2016-06-24
16,138885662,6624,philosophy,Philosophy,NaN,0,4235489,4222124,5662862,2016-06-24
17,144133560,6093,business,Business,NaN,0,5366823,5337593,23950629,2016-06-24
18,162324750,6107,economics,Economics,NaN,0,2934451,2894846,35436966,2016-06-24
19,114614502,7391,combinatorics,Combinatorics,NaN,1,741619,694039,7657762,2016-06-24

In [3]:
import pandas as pd
df_ER = pd.read_csv("AuthorExtendedAttributes.csv", sep="\t")
df_ER.head()

  AuthorId:long,AttributeType:int,AttributeValue:string
0                                      4038052,1,郝定均
1                                     13772676,1,王文璋
2                                     19895283,1,汤耀卿
3                                     20325981,1,王环宇
4                                     28950106,1,陈卓铭

In [7]:
#Checking if there are the same number of rows in both files.
import pandas as pd

# Count rows in Papers_with_header.txt safely
with open("Papers_with_header.txt", encoding="latin1", errors="ignore") as f:
    row_count_full = sum(1 for _ in f) - 1  # Subtract 1 for header
print("Rows in Papers_with_header.txt:", row_count_full)

# Count rows in Papers_first_10_cols.csv
import pandas as pd
df_10 = pd.read_csv("Papers_first_10_cols.csv")
print("Rows in Papers_first_10_cols.csv:", len(df_10))

Rows in Papers_with_header.txt: 248424784
Rows in Papers_first_10_cols.csv: 40596178

In [8]:
import pandas as pd
df_pap = pd.read_csv("Papers_first_10_cols.csv", nrows=5)
df_pap.head()

,PaperId,Rank,Doi,DocType,PaperTitle,OriginalTitle,BookTitle,Year,Date,OnlineDate
0,248996,24821,NaN,Patent,synthesis of acrylamide from acrylonitrile,Synthesis of acrylamide from acrylonitrile,NaN,1972,1972-06-05,NaN
1,2906390199,25581,NaN,NaN,the impact of different organizational forms o...,The impact of different organizational forms o...,NaN,2004,2004-01-01,NaN
2,760496,22876,NaN,NaN,the impact of different organizational forms o...,The Impact of Different Organizational Forms o...,NaN,2004,2004-01-01,NaN
3,1727602,26908,NaN,Patent,verfahren zur herstellung von pvc hart folien,Verfahren zur Herstellung von PVC-hart-Folien.,NaN,1989,1989-12-14,NaN
4,2401921836,22814,NaN,Patent,process for the production of rigid pvc foils,Process for the production of rigid PVC foils,NaN,1989,1989-06-05,NaN

In [1]:
import pandas as pd
df_pap = pd.read_csv("PaperFieldsOfStudy.csv", nrows=5)
df_pap.head()

     PaperId  FieldOfStudyId     Score
0   94998849       160151201  0.559030
1   37410125      2776459890  0.505073
2  132709527       123657996  0.456405
3  241994685        16005928  0.444505
4   56893273       155202549  0.452802

In [2]:
248389008 #total rows
- 29389197

-29389197

In [2]:
import pandas as pd
df_pap = pd.read_csv("AuthorCountries.csv", sep="\t", nrows=5)
df_pap.head()

   AuthorId             DisplayName Country
0       584  Gözde Özdikmenli-Demir      TR
1       859              Gy. Tolmár     NaN
2       978          Ximena Faúndez      CL
3      1139          Jennifer Putzi     NaN
4      1476                   勲矢 手島     NaN

In [2]:
import pandas as pd
df_p2 = pd.read_csv("GenderizedFirstnames.csv", nrows=5)
df_p2.rename(columns={
    "Firstname:string": "Firstname",
    "Country:string?": "Country",
    "gender:string?": "Gender",
    "probability:float?": "Probability",
    "count:int": "Count",
    "genderized:int": "Genderized",
}, inplace=True)

df_p2.to_csv("GenderizedFirstnames.csv", index=False)

In [ ]:
import pandas as pd

# Load the file
df = pd.read_csv("Affiliations.csv")

# Rename the columns (update all as needed)
df.rename(columns={
    "AffiliationId:long": "AffiliationId",
    "Rank:uint": "Rank",
    "NormalizedName:string": "NormalizedName",
    "DisplayName:string": "DisplayName",
    "GridId:string": "GridId",
    "OfficialPage:string": "OfficialPage",
    "WikiPage:string": "WikiPage",
    "PaperCount:long": "PaperCount",
    "PaperFamilyCount:long": "PaperFamilyCount",
    "CitationCount:long": "CitationCount",
    "Iso3166Code:string": "Iso3166Code",
    "Latitude:float?": "Latitude",
    "Longitude:float?": "Longitude",
    "CreatedDate:DateTime": "CreatedDate"
}, inplace=True)

df.to_csv("Affiliations.csv", index=False)

In [14]:
#Calculating number of unique papers.
import pandas as pd

df_papers = pd.read_csv("Physics_Author_Papers.csv")
unique_papers = df_papers['PaperId'].unique()

print("Number of unique authors:", len(unique_papers))

Number of unique authors: 8464003

In [ ]:
Engineering_Author_Papers.csv

In [11]:
import pandas as pd

df_papers = pd.read_csv("Psychology_Author_Papers.csv")

unique_papers = df_papers['PaperId'].unique()
print(len(unique_papers))

7490465

In [10]:
import pandas as pd

df_papers = pd.read_csv("Engineering_Author_Papers.csv")#, nrows=1)
unique_papers = df_papers['PaperId'].unique()
print(len(unique_papers))

17035848
12261905

In [12]:
import pandas as pd

df_papers = pd.read_csv("Sociology_Author_Papers.csv")
unique_papers = df_papers['PaperId'].unique()
print(len(unique_papers))

4013321

In [17]:
#Calculating unique authors after genderization and number of citings.

df_authors = pd.read_csv("Physics_Author_Citations_random_sample_Genderized.csv")
unique_authors = pd.unique(
    pd.concat([df_authors['SourceAuthorId'], df_authors['TargetAuthorId']])
)
print("Number of unique authors:", len(unique_authors))
print("Number of citings in the network:", len(df_authors))

Number of citings in the network: 507603157

In [2]:
import pandas as pd
#Calculating unique authors after genderization.

df_authors = pd.read_csv("Psychology_Author_Citations_Genderized.csv")
unique_authors = pd.unique(
    pd.concat([df_authors['SourceAuthorId'], df_authors['TargetAuthorId']])
)
print("Number of unique authors:", len(unique_authors))
print("Number of citings in the network:", len(df_authors))

Number of unique authors: 3981368
Number of citings in the network: 710287013

In [3]:
#Calculating unique authors after genderization.

df_authors = pd.read_csv("Engineering_Author_Citations_Genderized.csv")
unique_authors = pd.unique(
    pd.concat([df_authors['SourceAuthorId'], df_authors['TargetAuthorId']])
)
print("Number of unique authors:", len(unique_authors))
print("Number of citings in the network:", len(df_authors))

Number of unique authors: 7921623
Number of citings in the network: 271592635

In [1]:
#Calculating unique authors after genderization.
import pandas as pd
df_authors = pd.read_csv("Sociology_Author_Citations_Genderized.csv")
unique_authors = pd.unique(
    pd.concat([df_authors['SourceAuthorId'], df_authors['TargetAuthorId']])
)
print("Number of unique authors:", len(unique_authors))
print("Number of citings in the network:", len(df_authors))

Number of unique authors: 1234205
Number of citings in the network: 25755715

In [5]:
df_len_auth = pd.read_csv("Papers.csv")
print(len(df_len_auth))

290823

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (16,17,20,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)